<style>
  .passenger-container {
    border-radius: 5px;
    border-left: 10px solid black;
    padding: 1.1em;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  span {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .bi {
    font-size: 1.4em;
  }

  p {
    font-size: 0.9em;
  }

  button {
    font-size: 1.2rem;
    background-color: white;
    padding: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
  }

  button.active {
    padding: 50px;
  }

  .info-container {
    /*display: flex;*/
    /*gap: 10px;*/
  }

  .edit {
    cursor: pointer;
    position: relative;
    padding: 0 5px 0 0;
  }

  /*.radio-buttons{*/
  /*  font-size: 0.8rem;*/
  /*}*/
</style>

<div class="passenger-container" [ngStyle]="getStyles()">
  <div class="info-container">
    <i class="bi bi-pencil fs-5 edit" *ngIf="!selectedPassengerBus.get(passengerInfo.confirmationCode)"
      (click)="toggleEditBus()"></i>
    <i class="bi bi-x-circle fs-5 edit" *ngIf="selectedPassengerBus.get(passengerInfo.confirmationCode)"
      (click)="toggleEditBus()"></i>
    <span>{{passengerInfo.firstName}} {{passengerInfo.lastName}}</span>
    <span>{{getPickupAbbrev(passengerInfo)}}</span>
    <span style="font-weight: 400; font-size: 0.9em">({{passengerInfo.externalBookingReference ||
      passengerInfo.confirmationCode}}) </span>
    <span style="font-weight: 400; white-space: nowrap">{{passengerInfo.numOfPassengers}}
      {{passengerInfo.numOfPassengers === 1 ? "Passenger" : "Passengers"}} </span>
    <span style="font-weight: 400; white-space: nowrap"
      *ngIf="passengerInfo.numOfChildren !== 0">{{passengerInfo.numOfChildren}} {{passengerInfo.numOfChildren === 1 ?
      "Child" : "Children"}}</span>
    <span style="font-weight: 400; white-space: nowrap"
      *ngIf="passengerInfo.numOfInfants !== 0">{{passengerInfo.numOfInfants}} {{passengerInfo.numOfInfants === 1 ?
      "Infant" : "Infants"}}</span>
    <div class="radio-buttons" *ngIf="selectedPassengerBus.get(passengerInfo.confirmationCode);">
      <ng-container *ngFor="let bus of getSelectedBuses(); trackBy: trackByBusId">
        <label [for]="bus.busId + '-' + passengerInfo.confirmationCode" class="radio-inline">
          <input [id]="bus.busId + '-' + passengerInfo.confirmationCode" type="radio"
            name="busGroup-{{passengerInfo.confirmationCode}}" [value]="bus.busId" (change)="onBusChange(bus)"
            [checked]="isChecked(bus.busId)" />
          {{ bus.busId }}
        </label>
      </ng-container>
      <p *ngIf="!getSelectedBuses().length">No Buses Selected</p>
    </div>
  </div>

  <button type="button" *ngIf="!isInUnsortedSection" [ngClass]="{'active': isActive}" [ngStyle]="getButtonStyles()"
    (click)="toggleButton()">{{ busColor === '#4169E0' ? 'Exclude' : 'Remove' }}</button>
</div>